<html>
<body>
Welcome to vmware.com

You have successfully signed up with MyFinance Your login credential is as below :

email: <%= @email %> 

Thanks for joining and have a great day!
</body>
</html>